.friendMessage {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 70px;
    height: 70px;
}

.nameAndContent {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.friendText {
    display: flex;
    flex-direction: column;
    max-width: 530px;
    height: 100%;
    background-color: #F5F7FB;
    border-radius: 10px 10px 10px 0;
}

.angleMessageFriend {
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at -0px -0px, rgba(0, 0, 0, 0) 20px, rgb(245, 247, 251) 0);
}

.friendName {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    padding: 10px 0 0 10px;

}

.friendMessageText {
    font-family: Montserrat, sans-serif;
    white-space: pre-wrap;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding: 10px;
}

.friendTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}
