.greetingForm {

}

.inputAndButtonContainer {
    /*border: 3px dashed blue;*/
    display: flex;
    gap: 10px;
    margin: 5px 0;
}

.error {
    color: rgba(204, 0, 0, 1);
}

.input {
    opacity: 50%;
    min-width: 372px;
    height: 36px;
    border-radius: 5px;
    padding: 0 10px;
;

}

.input:focus {

}

.errorInput {
    width: 372px;
    height: 36px;
    border: 1px solid rgba(204, 0, 0, 1);
    border-radius: 3px;
}

.button {
    width: 78px;
    height: 36px;
    padding: 5px 24px 5px 24px;
    opacity: 0.5;
    border-radius: 3px;
    background-color: #0066CC;
    color: #FFFFFF;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
 color: #00000080;
}

.greeting {
    color: rgba(0, 0, 0, 1);
}
