.select {
    border-radius: 2px;
    font-size: 14px;
    margin: 0 6px 0 10px;
    /*padding: 4px 0 4px 0;*/
    /*border: 3px dotted rgb(204, 14, 14)*/
    border: 1px solid rgba(236, 235, 235, 1);
}

.select:focus {
    border: 1px solid rgba(0, 0, 0, 1)
}

.option:hover {
}
