.burgerMenuIcon {
    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-left: 70px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    margin-bottom: 47px;
    background: rgba(255, 255, 255, 1);
    background: #2d467c;
}

.header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 14px;
    margin-right: 70px;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #c9e5ff;
}